.input {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border: none;
}

.text {
  color: var(--color-text);
}

.text--contrast {
  color: var(--color-primary);
}

.background {
  background-color: var(--color-primary);
}

.background--contrast {
  background-color: var(--color-text);
}

.small {
  font-size: var(--font-size-small);
}

.medium {
  font-size: var(--font-size-medium);
}

.large {
  font-size: var(--font-sizelarge);
}
