.container {
  margin-bottom: 0.2rem;
}

.line {
  width: 110%;
  transform: translateX(-3rem);
}

.gameContainer {
  display: grid;
  grid-template-columns: 30% 50% 20%;
  margin-top: 0.2rem;

  /* background: linear-gradient(
    to left,
    var(--color-secondary),
    var(--color-background)
  ); */
  position: relative;
}

.image {
  max-width: 100%;
  object-fit: cover;
}

.gameTitle {
  font-size: var(--font-size-large);
  position: absolute;
}

/* GENRE HIDDEN FOR MOBILE USERS */
.genre {
  width: fit-content;
  height: fit-content;
  position: absolute;
  grid-column: 2/2;
  justify-self: center;
  align-self: flex-end;
  padding: 0.2rem 0.4rem;
  border: 2px solid rgb(255 255 255 / 65.1%);
  border-radius: 0.5rem;
  font-size: var(--font-size-small);
  visibility: hidden;
}

.removeFromWishlist {
  margin: 0.4rem;
  padding: 0.2rem 0.4rem;
  min-width: 4rem;
  max-width: 6rem;
  height: 1.5rem;
  align-self: center;
  border: none;
  text-transform: uppercase;
  background-color: tomato;
  font-size: 0.6rem;
  color: var(--color-text);
}

.moreInfoBtn {
  place-self: center;
  padding: 0.5rem 1rem;
}

.moreInfoBtn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .gameContainer {
    max-width: 768px;
  }

  .genre {
    visibility: visible;
  }
}
