.button {
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border: none;
  text-transform: uppercase;
}

.text {
  color: var(--color-text);
}

.text--contrast {
  color: var(--color-background);
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.tertiary {
  background-color: var(--color-tertiary);
}

.quaternary-light {
  background-color: var(--color-quaternary-light);
}

.small {
  font-size: var(--small);
}

.medium {
  font-size: var(--medium);
}

.large {
  font-size: var(--large);
}
