.button {
  padding: 0.5rem 1rem;
  border: none;
  text-transform: uppercase;
}

.button:hover {
  cursor: pointer;
}

.transparent {
  background: rgb(0 0 0 / 0%);
}

.text {
  color: var(--color-text);
}

.text--contrast {
  color: var(--color-background);
}

.primary {
  background-color: var(--color-primary);
}

.secondary {
  background-color: var(--color-secondary);
}

.tertiary {
  background-color: var(--color-tertiary);
}

.quaternary-light {
  background-color: var(--color-quaternary-light);
}

.small {
  font-size: var(--font-size-small);
}

.medium {
  font-size: var(--font-size-medium);
}

.large {
  font-size: var(--font-size-large);
}
