.container {
  width: 100%;
  padding-top: 3rem;
  display: grid;
}

.wishlistContainer {
  display: grid;
  justify-items: center;
}

.loading {
  display: inline-block;
  position: absolute;
  align-self: center;
  justify-self: center;
}
