.loadingScreen {
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-background);
  z-index: 1000;
  height: 100vh;
  width: 100vw;
}

.loadingIcon {
  display: grid;
  align-items: center;
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
}

.loadingIcon::before {
  content: '';
  position: absolute;
  left: -1rem;
  width: 5rem;
  border-radius: 0;
  height: 1.2rem;
  background-color: var(--color-background);
  animation: loading 1s infinite;
}

.loadingIcon::after {
  content: '';
  justify-self: center;
  position: absolute;
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  background-color: var(--color-background);
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  display: grid;
  position: relative;
}

.wishlistContainer {
  display: grid;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-items: flex-start;
}

.searchInput {
  width: 13rem;
  padding: 0.2rem 0.3rem;
  margin: 0 0 0.7rem 0.6rem;
  border-radius: 2px;
  grid-column: 1;
  grid-row: 1;
  background-color: white;
}

.filterButton {
  padding: 0.2rem 0.3rem;
  margin: 0 0 0.7rem 8rem;
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
}

@media (min-width: 768px) {
  .wishlistContainer {
    justify-items: center;
  }

  .searchInput {
    width: 13rem;
    padding: 0.25rem 0.35rem;
    margin: 0 7rem 1rem 0;
    grid-column: 1;
    grid-row: 1;
  }

  .filterButton {
    padding: 0.2rem 0.3rem;
    margin: 0 0 1rem 11rem;
    border-radius: 2px;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
  }
}
