.line {
  height: 1px;
}

.half {
  width: 50%;
}

.start {
  background: linear-gradient(to right, var(--color-text) 10%, transparent);
}

.middle {
  background: linear-gradient(
    to right,
    transparent,
    var(--color-text) 50%,
    transparent
  );
}

.middle--secondary {
  background: linear-gradient(
    to right,
    transparent,
    var(--color-text) 45% 55%,
    transparent
  );
}

.end {
  background: linear-gradient(
    to left,
    var(--color-text) 10%,
    var(--color-background)
  );
}
