.container {
  display: grid;
  justify-content: center;
  width: 100%;
}

@media (min-width: 560px) {
  .container {
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 40rem));
    row-gap: 2rem;
  }
}
