.container {
  display: grid;
  justify-content: center;
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(349px, 1fr));
    gap: 1rem;
  }
}
