.gameContainer {
  display: grid;
  margin: 1rem;
  min-width: 256px;
  max-width: 555px;
  background: linear-gradient(
    to left,
    var(--color-secondary),
    var(--color-background)
  );
  position: relative;
  box-shadow: 0 1px 5px black;
}

.imageContainer {
  overflow: hidden;
  height: max-content;
}

.image {
  width: 100%;
  overflow: hidden;
}

.gameTitle {
  font-size: var(--font-size-large);
  padding: 0.5rem 1rem;
  box-shadow: 1px 2px 2px black;
  position: absolute;
  top: 0.1rem;
  background-color: var(--color-background);
}

.genre {
  margin: 0.5rem 1rem;
  width: fit-content;
  height: fit-content;
  padding: 0.2rem 0.6rem;
  font-size: var(--font-size-medium);
  background-color: var(--color-quaternary);
}

.description {
  font-size: var(--font-size-medium);
  font-weight: 300;
  text-align: center;
  margin: 1rem 2rem 0;
  max-width: 30rem;
}

.lineOne {
  margin: auto;
}

.moreInfoBtn {
  place-self: center;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.moreInfoBtn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .gameContainer {
    margin: 0;
  }

  .image {
    max-height: 135px;
  }
}
