.container {
  width: 100%;
  padding-top: 6.5rem;
  display: grid;
}

.loading {
  align-self: center;
  justify-self: center;
}

.addOrSearch {
  margin: 0 0 0 1.45rem;
  text-transform: uppercase;
  font-weight: 200;
  font-size: var(--font-size-medium);
}

.searchInput {
  margin: 0.5rem 1.45rem 1rem;
  width: 86%;
  background-color: var(--color-secondary);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
}

.searchInput::placeholder {
  color: var(--color-text);
  font-size: var(--font-size-medium);
  font-weight: 100;
  opacity: 0.8;
}

@media (min-width: 560px) {
  .friendsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    justify-content: center;
    justify-items: center;
    gap: 1rem;
  }

  .addOrSearch {
    justify-self: center;
    margin: 0;
  }

  .searchInput {
    width: 20rem;
    margin: 1rem;
    justify-self: center;
  }

  .searchInput::placeholder {
    text-align: center;
  }
}
