.navbar {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  z-index: 150;
  width: 100%;
  align-items: center;
  padding: 0.2rem;
  background-color: var(--color-background);
}

.pageTitle {
  text-transform: uppercase;
  font-weight: 300;
  font-size: var(--font-size-large);
}
