.container {
  padding-top: 6rem;
  max-width: 667px;
}

.headline {
  font-size: var(--font-size-large);
  font-weight: 100;
  text-transform: uppercase;
  margin: 1rem;
}

.searchInput {
  margin: 0.5rem 1rem 0 0;
  position: absolute;
  top: 4rem;
  right: 0;
  background-color: var(--color-secondary);
  width: 91%;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
}

.searchInput::placeholder {
  color: var(--color-text);
  font-size: var(--font-size-medium);
  font-weight: 100;
  opacity: 0.8;
}
