.container {
  padding-top: 5rem;
  width: 100%;
  display: grid;
}

.searchInput {
  margin: 0.5rem 1rem 0;
  justify-self: center;
  background-color: var(--color-secondary);
  width: 93%;
  padding: 0.3rem 0.6rem;
  border-radius: 2px;
}

.searchInput::placeholder {
  color: var(--color-text);
  font-size: var(--font-size-medium);
  font-weight: 100;
  opacity: 0.8;
}

@media (min-width: 590px) {
  /* .container {
    justify-content: center;
  } */

  .searchInput {
    width: 35rem;
    margin-bottom: 1rem;
    justify-self: center;
  }
}
