.searchInput {
  margin: 1rem;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 46%;
}

.headline {
  font-size: var(--font-size-large);
  font-weight: 100;
  text-transform: uppercase;
  margin: 1rem;
}
